<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.wangsaichao.cas" use-default-filters="false" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<!-- 通过Annotation 来控制Controller -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<mvc:default-servlet-handler/>

	<!-- 静态资源处理  css js imgs -->
	<!--<mvc:resources mapping="/images/**" location="/images/" />-->
	<!--<mvc:resources mapping="/js/**" location="/js/" />-->
	<!--<mvc:resources mapping="/css/**" location="/css/" />-->

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 3.0.5后默认加上了jstl的属性配置.这个就是默认的配置 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<!-- 设定前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 设定后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
